USE [master]
GO
/****** Object:  Database [QlCafe]    Script Date: 24-Dec-25 10:37:49 PM ******/
CREATE DATABASE [QlCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QlCafe', FILENAME = N'E:\SQL_DATABASE\MSSQL16.SQLEXPRESS\MSSQL\DATA\QlCafe.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QlCafe_log', FILENAME = N'E:\SQL_DATABASE\MSSQL16.SQLEXPRESS\MSSQL\DATA\QlCafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QlCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QlCafe]
GO
/****** Object:  Table [dbo].[LoaiMon]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMon](
	[MaLoaiMon] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiMon] [nvarchar](35) NOT NULL,
	[HinhAnh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[LoadLoaiMon]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[LoadLoaiMon]
AS
SELECT MaLoaiMon,TenLoaiMon
FROM dbo.LoaiMon

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](5) NOT NULL,
	[TenNV] [nvarchar](35) NOT NULL,
	[CMND] [char](9) NOT NULL,
	[SDT] [char](11) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[NgayVaoLam] [smalldatetime] NOT NULL,
	[NgaySinh] [smalldatetime] NOT NULL,
	[ChucVu] [nvarchar](15) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[HinhAnh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [char](5) NOT NULL,
	[TenDangNhap] [char](25) NOT NULL,
	[MK] [char](25) NOT NULL,
	[LoaiTk] [tinyint] NOT NULL,
	[MaNV] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LoadTK]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[LoadTK]
AS
SELECT MaTK, TenDangNhap, ChucVu, MK, NhanVien.MaNV
FROM dbo.TaiKhoan, dbo.NhanVien
WHERE TaiKhoan.MaNV = NhanVien.MaNV

GO
/****** Object:  Table [dbo].[BanAn]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanAn](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](35) NOT NULL,
	[TrangThai] [nvarchar](10) NOT NULL,
	[MaKhuVuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaMonAn] [int] NOT NULL,
	[SoLuong] [tinyint] NOT NULL,
	[ThanhTien] [smallmoney] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [smalldatetime] NOT NULL,
	[MaBan] [int] NOT NULL,
	[TinhTrang] [int] NOT NULL,
	[GiamGia] [int] NULL,
	[MaHTTT] [int] NULL,
	[MaKM] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMonAn] [int] IDENTITY(1,1) NOT NULL,
	[TenMonAn] [nvarchar](35) NOT NULL,
	[MaLoaiMon] [int] NOT NULL,
	[Gia] [smallmoney] NOT NULL,
	[HinhAnh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ReportHoaDon]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReportHoaDon]
AS
SELECT HoaDon.MaHD,NgayLap,BanAn.TenBan,TinhTrang,GiamGia,MonAn.TenMonAn, SoLuong,MonAn.Gia,ThanhTien
FROM dbo.HoaDon, dbo.ChiTietHD,dbo.MonAn,dbo.BanAn
WHERE dbo.HoaDon.MaHD = dbo.ChiTietHD.MaHD AND dbo.MonAn.MaMonAn=dbo.ChiTietHD.MaMonAn AND dbo.BanAn.MaBan=dbo.HoaDon.MaBan

GO
/****** Object:  View [dbo].[ReportHoaDon1]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReportHoaDon1]
AS
SELECT HoaDon.MaHD,NgayLap,BanAn.TenBan,TinhTrang,GiamGia,MonAn.TenMonAn, SoLuong,MonAn.Gia,ThanhTien
FROM dbo.HoaDon, dbo.ChiTietHD,dbo.MonAn,dbo.BanAn
WHERE dbo.HoaDon.MaHD = dbo.ChiTietHD.MaHD AND dbo.MonAn.MaMonAn=dbo.ChiTietHD.MaMonAn AND dbo.BanAn.MaBan=dbo.HoaDon.MaBan

GO
/****** Object:  View [dbo].[ThucDon]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ThucDon]
AS
select MonAn.MaMonAn, MonAn.TenMonAn, LoaiMon.TenLoaiMon, MonAn.Gia, MonAn.HinhAnh
from MonAn, LoaiMon 
where LoaiMon.MaLoaiMon = MonAn.MaLoaiMon 

GO
/****** Object:  View [dbo].[TKDoanhThu]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TKDoanhThu]
AS
SELECT ChiTietHD.MaHD,NgayLap, MonAn.MaMonAn, SoLuong,MonAn.Gia,ThanhTien
FROM dbo.HoaDon, dbo.ChiTietHD,dbo.MonAn
WHERE dbo.HoaDon.MaHD = dbo.ChiTietHD.MaHD AND dbo.MonAn.MaMonAn=dbo.ChiTietHD.MaMonAn

GO
/****** Object:  Table [dbo].[ChiTietPhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuat](
	[MaCTPX] [char](7) NOT NULL,
	[MaPhieuXuat] [char](5) NOT NULL,
	[MaMH] [char](5) NOT NULL,
	[SoLuongXuat] [tinyint] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MaPhieuXuat] [char](5) NOT NULL,
	[NgayXuat] [smalldatetime] NOT NULL,
	[MaNV] [char](5) NOT NULL,
	[LyDoXuat] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TKPhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TKPhieuXuat]
AS
SELECT PhieuXuat.MaPhieuXuat, NgayXuat, MaNV, MaMH, SoLuongXuat
FROM dbo.PhieuXuat, dbo.ChiTietPhieuXuat
WHERE dbo.PhieuXuat.MaPhieuXuat = dbo.ChiTietPhieuXuat.MaPhieuXuat

GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [char](5) NOT NULL,
	[MaNV] [char](5) NOT NULL,
	[NgayLam] [smalldatetime] NOT NULL,
	[SoCaLam] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaCTPN] [char](7) NOT NULL,
	[MaPhieuNhap] [char](5) NOT NULL,
	[MaMH] [char](5) NOT NULL,
	[SoLuongNhap] [tinyint] NOT NULL,
	[DonGia] [smallmoney] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DinhLuong]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhLuong](
	[MaMonAn] [int] NOT NULL,
	[MaMH] [char](5) NOT NULL,
	[SoLuongDinhMuc] [float] NOT NULL,
	[DonViTinh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[MaHTTT] [int] IDENTITY(1,1) NOT NULL,
	[TenHTTT] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](5) NOT NULL,
	[TenKH] [nvarchar](35) NOT NULL,
	[DiaChi] [nvarchar](45) NOT NULL,
	[SDT] [char](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKhuVuc] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuVuc] [nvarchar](100) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [varchar](20) NOT NULL,
	[TenChuongTrinh] [nvarchar](200) NOT NULL,
	[PhanTramGiam] [int] NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MaLoaiHang] [char](5) NOT NULL,
	[TenLoaiHang] [nvarchar](35) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatHang]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatHang](
	[MaMH] [char](5) NOT NULL,
	[TenMH] [nvarchar](35) NOT NULL,
	[MaLoaiHang] [char](5) NOT NULL,
	[SoLuong] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCC] [char](5) NOT NULL,
	[TenNhaCC] [nvarchar](35) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SDT] [char](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [char](5) NOT NULL,
	[NgayNhap] [smalldatetime] NOT NULL,
	[MaNV] [char](5) NOT NULL,
	[MaNhaCC] [char](5) NOT NULL,
	[LyDoNhap] [nvarchar](50) NULL,
	[TongTien] [smallmoney] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [PhanTramGiam]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[BanAn]  WITH CHECK ADD  CONSTRAINT [FK_BanAn_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[BanAn] CHECK CONSTRAINT [FK_BanAn_KhuVuc]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK__ChamCong__MaNV__24927208] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK__ChamCong__MaNV__24927208]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietHD__MaHD__1ED998B2] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK__ChiTietHD__MaHD__1ED998B2]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietHD__MaMon__1DE57479] FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MonAn] ([MaMonAn])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK__ChiTietHD__MaMon__1DE57479]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietPh__MaPhi__35BCFE0A] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK__ChiTietPh__MaPhi__35BCFE0A]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_MatHang] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MatHang] ([MaMH])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_MatHang]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietPh__MaPhi__398D8EEE] FOREIGN KEY([MaPhieuXuat])
REFERENCES [dbo].[PhieuXuat] ([MaPhieuXuat])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat] CHECK CONSTRAINT [FK__ChiTietPh__MaPhi__398D8EEE]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuat_MatHang] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MatHang] ([MaMH])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat] CHECK CONSTRAINT [FK_ChiTietPhieuXuat_MatHang]
GO
ALTER TABLE [dbo].[DinhLuong]  WITH CHECK ADD  CONSTRAINT [FK_DinhLuong_MatHang] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MatHang] ([MaMH])
GO
ALTER TABLE [dbo].[DinhLuong] CHECK CONSTRAINT [FK_DinhLuong_MatHang]
GO
ALTER TABLE [dbo].[DinhLuong]  WITH CHECK ADD  CONSTRAINT [FK_DinhLuong_MonAn] FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MonAn] ([MaMonAn])
GO
ALTER TABLE [dbo].[DinhLuong] CHECK CONSTRAINT [FK_DinhLuong_MonAn]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__MaBan__164452B1] FOREIGN KEY([MaBan])
REFERENCES [dbo].[BanAn] ([MaBan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__MaBan__164452B1]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HTTT] FOREIGN KEY([MaHTTT])
REFERENCES [dbo].[HinhThucThanhToan] ([MaHTTT])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_HTTT]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KM] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KM]
GO
ALTER TABLE [dbo].[MatHang]  WITH CHECK ADD  CONSTRAINT [FK_MatHang_LoaiHang] FOREIGN KEY([MaLoaiHang])
REFERENCES [dbo].[LoaiHang] ([MaLoaiHang])
GO
ALTER TABLE [dbo].[MatHang] CHECK CONSTRAINT [FK_MatHang_LoaiHang]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [FK__MonAn__MaLoaiMon__1B0907CE] FOREIGN KEY([MaLoaiMon])
REFERENCES [dbo].[LoaiMon] ([MaLoaiMon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [FK__MonAn__MaLoaiMon__1B0907CE]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK__PhieuNhap__MaNV__2C3393D0] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK__PhieuNhap__MaNV__2C3393D0]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([MaNhaCC])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK__PhieuXuat__MaNV__276EDEB3] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK__PhieuXuat__MaNV__276EDEB3]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoan__MaNV__21B6055D] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK__TaiKhoan__MaNV__21B6055D]
GO
/****** Object:  StoredProcedure [dbo].[PR_ChuyenBan]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PR_ChuyenBan]
@MaBan1 INT, @MaBan2 INT 	
AS
BEGIN
	DECLARE @MaHD1 INT
	DECLARE @MaHD2 INT
	DECLARE @ISBan1Trong INT =1
	DECLARE @ISBan2Trong INT =1
	select @MaHD2= MaHD from dbo.HoaDon where MaBan= @MaBan2 and TinhTrang = 0
	select @MaHD1= MaHD from dbo.HoaDon where MaBan= @MaBan1 and TinhTrang = 0
	IF(@MaHD1 IS NULL)
	BEGIN
		INSERT dbo.HoaDon 
			( NgayLap,
			  MaBan,
			  TinhTrang,
			  GiamGia
			)
		VALUES (GETDATE(), @MaBan1,0,0)
		SELECT @MaHD1 = MAX(MaHD) FROM dbo.HoaDon WHERE MaBan= @MaBan1 AND TinhTrang = 0
	END
	SELECT @ISBan1Trong = COUNT(*) FROM dbo.ChiTietHD WHERE MaHD= @MaHD1
	IF(@MaHD2 IS NULL)
	BEGIN
		INSERT dbo.HoaDon 
			( NgayLap,
			  MaBan,
			  TinhTrang,
			  GiamGia
			)
		VALUES (GETDATE(), @MaBan2,0,0)
		SELECT @MaHD2 = MAX(MaHD) FROM dbo.HoaDon WHERE MaBan= @MaBan2 AND TinhTrang =0
	END
	SELECT @ISBan2Trong = COUNT(*) FROM dbo.ChiTietHD WHERE MaHD= @MaHD2
	SELECT MaCTHD INTO MaBanCTHD FROM dbo.ChiTietHD WHERE MaHD = @MaHD2
	UPDATE dbo.ChiTietHD SET MaHD= @MaHD2 WHERE MaHD=@MaHD1
	UPDATE dbo.ChiTietHD SET MaHD=@MaHD1 WHERE MaCTHD  IN (SELECT * FROM MaBanCTHD)
	DROP TABLE MaBanCTHD
	IF(@ISBan1Trong=0)
		UPDATE dbo.BanAn SET TrangThai=N'Trống' WHERE MaBan=@MaBan2
		--DELETE FROM dbo.HoaDon where MaBan=@MaBan2 and TinhTrang=0
	IF(@ISBan2Trong=0)
		UPDATE dbo.BanAn SET TrangThai=N'Trống' WHERE MaBan=@MaBan1
		--DELETE FROM dbo.HoaDon where MaBan=@MaBan1 and TinhTrang=0

END

GO
/****** Object:  StoredProcedure [dbo].[PR_DeleteChiTietPhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9. Xóa chi tiết phiếu xuất
CREATE PROCEDURE [dbo].[PR_DeleteChiTietPhieuXuat]
    @MaCTPX CHAR(7)
AS
BEGIN
    DELETE FROM ChiTietPhieuXuat WHERE MaCTPX = @MaCTPX
END

GO
/****** Object:  StoredProcedure [dbo].[PR_DeletePhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Xóa phiếu xuất
CREATE PROCEDURE [dbo].[PR_DeletePhieuXuat]
    @MaPhieuXuat CHAR(5)
AS
BEGIN
    DELETE FROM PhieuXuat WHERE MaPhieuXuat = @MaPhieuXuat
END

GO
/****** Object:  StoredProcedure [dbo].[PR_GETDanhSachBan]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[PR_GETDanhSachBan]
AS SELECT *FROM dbo.BanAn

GO
/****** Object:  StoredProcedure [dbo].[PR_GetDanhSachChiTietPhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- --- CHI TIET PHIEU XUAT ---

-- 6. Lấy danh sách chi tiết theo Mã phiếu xuất
CREATE PROCEDURE [dbo].[PR_GetDanhSachChiTietPhieuXuat]
    @MaPhieuXuat CHAR(5)
AS
BEGIN
    SELECT * FROM ChiTietPhieuXuat WHERE MaPhieuXuat = @MaPhieuXuat
END

GO
/****** Object:  StoredProcedure [dbo].[PR_GetDanhSachNhanVien]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 13. Lấy danh sách nhân viên (đã có thể có, nhưng viết lại cho chắc chắn hoặc dùng PR_GETNhanVien nếu có)
CREATE PROCEDURE [dbo].[PR_GetDanhSachNhanVien]
AS
BEGIN
    SELECT MaNV, TenNV FROM NhanVien
END

GO
/****** Object:  StoredProcedure [dbo].[PR_GetDanhSachPhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- --- PHIEU XUAT ---

-- 1. Lấy danh sách phiếu xuất
CREATE PROCEDURE [dbo].[PR_GetDanhSachPhieuXuat]
AS
BEGIN
    SELECT * FROM PhieuXuat
END

GO
/****** Object:  StoredProcedure [dbo].[PR_GETMaChamCong]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[PR_GETMaChamCong](@MaCC char(5) OUTPUT) 
AS 
BEGIN 
    SET @MaCC =( 
        Select Top(1) MaChamCong
        From ChamCong 
        order by MaChamCong desc); 
END  

GO
/****** Object:  StoredProcedure [dbo].[PR_GETMaKhachHang]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[PR_GETMaKhachHang](@MaKH char(5) OUTPUT) 
AS 
BEGIN 
    SET @MaKH =( 
        Select Top(1) MaKH
        From KhachHang 
        order by MaKH desc); 
END  

GO
/****** Object:  StoredProcedure [dbo].[PR_GETMaLoaiMon]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[PR_GETMaLoaiMon](@MaLM int OUTPUT) 
AS 
BEGIN 
    SET @MaLM =( 
        Select Top(1) MaLoaiMon
        From LoaiMon 
        order by MaLoaiMon desc); 
END  

GO
/****** Object:  StoredProcedure [dbo].[PR_GETMaMonAn]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[PR_GETMaMonAn](@MaMA int OUTPUT) 
AS 
BEGIN 
    SET @MaMA =( 
        Select Top(1) MaMonAn
        From MonAn 
        order by MaMonAn desc); 
END  

GO
/****** Object:  StoredProcedure [dbo].[PR_GETMaNCC]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[PR_GETMaNCC](@MaNCC char(5) OUTPUT) 
AS 
BEGIN 
    SET @MaNCC =( 
        Select Top(1) MaNhaCC
        From NhaCungCap 
        order by MaNhaCC desc); 
END  

GO
/****** Object:  StoredProcedure [dbo].[PR_GETMaNhanVien]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[PR_GETMaNhanVien](@MaNV char(5) OUTPUT) 
AS 
BEGIN 
    SET @MaNV =( 
        Select Top(1) MaNV
        From NhanVien 
        order by MaNV desc); 
END 

GO
/****** Object:  StoredProcedure [dbo].[PR_GETMaTaiKhoan]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Proc [dbo].[PR_GETMaTaiKhoan](@MaTK char(5) OUTPUT) 
AS 
BEGIN 
    SET @MaTK =( 
        Select Top(1) MaTK
        From TaiKhoan 
        order by MaTK desc); 
END  

GO
/****** Object:  StoredProcedure [dbo].[PR_GetMatHangByMaMH]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 12. Lấy thông tin mặt hàng
CREATE PROCEDURE [dbo].[PR_GetMatHangByMaMH]
    @MaMH CHAR(5)
AS
BEGIN
    SELECT * FROM MatHang WHERE MaMH = @MaMH
END

GO
/****** Object:  StoredProcedure [dbo].[PR_GetMaxMaCTPX]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 10. Lấy Mã CTPX lớn nhất
CREATE PROCEDURE [dbo].[PR_GetMaxMaCTPX]
AS
BEGIN
    SELECT MAX(MaCTPX) FROM ChiTietPhieuXuat
END

GO
/****** Object:  StoredProcedure [dbo].[PR_GetMaxMaPhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Lấy Mã Phiếu Xuất lớn nhất (để sinh mã)
CREATE PROCEDURE [dbo].[PR_GetMaxMaPhieuXuat]
AS
BEGIN
    SELECT MAX(MaPhieuXuat) FROM PhieuXuat
END

GO
/****** Object:  StoredProcedure [dbo].[PR_InsertChiTietPhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. Thêm chi tiết phiếu xuất
CREATE PROCEDURE [dbo].[PR_InsertChiTietPhieuXuat]
    @MaCTPX CHAR(7),
    @MaPhieuXuat CHAR(5),
    @MaMH CHAR(5),
    @SoLuongXuat TINYINT,
    @GhiChu NVARCHAR(50)
AS
BEGIN
    INSERT INTO ChiTietPhieuXuat (MaCTPX, MaPhieuXuat, MaMH, SoLuongXuat, GhiChu)
    VALUES (@MaCTPX, @MaPhieuXuat, @MaMH, @SoLuongXuat, @GhiChu)
END

GO
/****** Object:  StoredProcedure [dbo].[PR_InsertCTHD]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PR_InsertCTHD]
@MaHD INT, @MaMonAn INT, @SoLuong INT, @ThanhTien INT
AS
BEGIN
	DECLARE @isExitsCTHD INT ;
	DECLARE @SoLuongMA INT =1 ;
	SELECT @isExitsCTHD = MaCTHD ,@SoLuongMA= SoLuong FROM dbo.ChiTietHD WHERE MaHD= @MaHD and MaMonAn=@MaMonAn 
	IF(@isExitsCTHD>0)
	BEGIN
		DECLARE @newSL INT = @SoLuongMA +@SoLuong
		IF (@newSL>0)
			UPDATE dbo.ChiTietHD SET SoLuong = @SoLuongMA+ @SoLuong WHERE MaHD = @MaHD AND  MaMonAn= @MaMonAn
		ELSE 
			DELETE dbo.ChiTietHD WHERE MaHD= @MaHD AND MaMonAn= @MaMonAn
	END
	ELSE 
	BEGIN
		INSERT dbo.ChiTietHD
		  (
			MaHD, 
			MaMonAn,
			SoLuong,
			ThanhTien
		   )
		VALUES(@MaHD,@MaMonAn,@SoLuong,@ThanhTien)
	END 
END

GO
/****** Object:  StoredProcedure [dbo].[PR_InsertHD]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PR_InsertHD]
@MaBan INT
AS
BEGIN
	INSERT dbo.HoaDon
		  ( 
			NgayLap, 
			MaBan,
			TinhTrang,
			GiamGia
		   )
	VALUES(GETDATE(),@MaBan,0,0) 
END

GO
/****** Object:  StoredProcedure [dbo].[PR_InsertPhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Thêm phiếu xuất
CREATE PROCEDURE [dbo].[PR_InsertPhieuXuat]
    @MaPhieuXuat CHAR(5),
    @NgayXuat SMALLDATETIME,
    @MaNV CHAR(5),
    @LyDoXuat NVARCHAR(50)
AS
BEGIN
    INSERT INTO PhieuXuat (MaPhieuXuat, NgayXuat, MaNV, LyDoXuat)
    VALUES (@MaPhieuXuat, @NgayXuat, @MaNV, @LyDoXuat)
END

GO
/****** Object:  StoredProcedure [dbo].[PR_ThongKePhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Gemini Agent
-- Create date: 23/12/2025
-- Description: Thống kê danh sách phiếu xuất và chi tiết hàng hóa theo khoảng thời gian
-- Input:       @TuNgay (Ngày bắt đầu), @DenNgay (Ngày kết thúc)
-- =============================================
CREATE   PROCEDURE [dbo].[PR_ThongKePhieuXuat]
    @TuNgay SMALLDATETIME,
    @DenNgay SMALLDATETIME
AS
BEGIN
    SELECT 
        px.MaPhieuXuat AS [Mã Phiếu],
        px.NgayXuat AS [Ngày Xuất],
        nv.TenNV AS [Nhân Viên],
        mh.TenMH AS [Tên Mặt Hàng],
        ctpx.SoLuongXuat AS [Số Lượng],
        px.LyDoXuat AS [Lý Do]
    FROM 
        dbo.PhieuXuat px
        INNER JOIN dbo.ChiTietPhieuXuat ctpx ON px.MaPhieuXuat = ctpx.MaPhieuXuat
        INNER JOIN dbo.MatHang mh ON ctpx.MaMH = mh.MaMH
        INNER JOIN dbo.NhanVien nv ON px.MaNV = nv.MaNV
    WHERE 
        px.NgayXuat BETWEEN @TuNgay AND @DenNgay
    ORDER BY 
        px.NgayXuat DESC
END

GO
/****** Object:  StoredProcedure [dbo].[PR_UpdateChiTietPhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. Sửa chi tiết phiếu xuất
CREATE PROCEDURE [dbo].[PR_UpdateChiTietPhieuXuat]
    @MaCTPX CHAR(7),
    @MaMH CHAR(5),
    @SoLuongXuat TINYINT,
    @GhiChu NVARCHAR(50)
AS
BEGIN
    UPDATE ChiTietPhieuXuat
    SET MaMH = @MaMH, SoLuongXuat = @SoLuongXuat, GhiChu = @GhiChu
    WHERE MaCTPX = @MaCTPX
END

GO
/****** Object:  StoredProcedure [dbo].[PR_UpdatePhieuXuat]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Sửa phiếu xuất
CREATE PROCEDURE [dbo].[PR_UpdatePhieuXuat]
    @MaPhieuXuat CHAR(5),
    @NgayXuat SMALLDATETIME,
    @MaNV CHAR(5),
    @LyDoXuat NVARCHAR(50)
AS
BEGIN
    UPDATE PhieuXuat
    SET NgayXuat = @NgayXuat, MaNV = @MaNV, LyDoXuat = @LyDoXuat
    WHERE MaPhieuXuat = @MaPhieuXuat
END

GO
/****** Object:  StoredProcedure [dbo].[PR_UpdateSoLuongMatHang]    Script Date: 24-Dec-25 10:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- --- MAT HANG & NHAN VIEN ---

-- 11. Cập nhật số lượng mặt hàng
CREATE PROCEDURE [dbo].[PR_UpdateSoLuongMatHang]
    @MaMH CHAR(5),
    @SoLuong INT
AS
BEGIN
    UPDATE MatHang SET SoLuong = @SoLuong WHERE MaMH = @MaMH
END

GO
USE [master]
GO
